{% load static %}
<script type="text/javascript" src='{% static 'nprogress/nprogress.js' %}'></script>
<script type="text/javascript" src='{% static '@shopify/draggable/lib/draggable.bundle.js' %}'></script>

<link rel='stylesheet' href='{% static 'nprogress/nprogress.css' %}'/>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>
{% bootstrap_javascript %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<script>

       function fillDiv(query_url,input_data,div_id,nprogress)
       {
           if (nprogress==true){
               NProgress.start();
           }
           $.get(query_url, input_data,
                   function (data) {
                       document.getElementById(div_id).innerHTML = data;
                       if (nprogress==true){
                           NProgress.done();
                       }
                   });

       }
       function getData(query_url,input_data,nprogress)
       {
           if (nprogress==true){
               NProgress.start();
           }
           $.get(query_url, input_data,
                   function (data) {
                       var data_div = $(document.getElementById("output"));

                       for (var depth in data){

                           // Generate a div
                           var div_id = "DATA_"+depth;

                           var depthDiv = document.createElement(div_id);
                           data_div.append(depthDiv)
                           for (var sub_type in data[depth]) {

                               // Generate a div within this (ADDITION, DELETION, LINKER)
                               var div_id = sub_type+"_"+depth;
                               var typeDiv = document.createElement(div_id);
                               depthDiv.append(typeDiv);

                               for (var sub_mol in data[depth][sub_type]){

                                   // Generate a div within with an image of the molecule
                                   var div_id = sub_type+"_"+depth+"_"+sub_mol;
                                   var compoundDiv = document.createElement(div_id);
                                   typeDiv.append(compoundDiv);

                                   fillDiv("/viewer/mol_view",{smiles: sub_mol, return: "svg"},div_id,nprogress=false);
                                   // Onclick it moves all the molecules into a viewer div

                               }

                           }

                       }
                       // Then mark this as done
                       if (nprogress==true){
                           NProgress.done();
                       }
                   });

       }

    function makeQuery(url) {
        var smiles = document.getElementById("smiles").value;
        var num_picks = document.getElementById("num_picks").value;
        fillDiv("/viewer/mol_view",{smiles: smiles, return: "svg"},"query_mol",nprogress=false);
        getData(url,{smiles: smiles, num_picks: num_picks, return: "json"},nprogress=true);

    }
</script>


<div class="row">
        <div class="col-12">
            </div>

</div>
<div class="row">
    <div class="col-xs-0 col-md-0 col-lg-1"></div>
    <div class="col-xs-6 col-md-3">
        <label for="smiles">Smiles:</label>
        <input type="text" placeholder="O=C(COC=1C=CC=CC1)NC2CCCCC2" class="form-control" id="smiles">
        <label for="num_picks">Number of picks:</label>
        <input type="text" class="form-control" id="num_picks">
        {% buttons %}
        <button onclick="makeQuery('/network/full_graph/')" class="btn btn-primary">
          {% bootstrap_icon "eye-open" %} Full Graph
        </button>
            <button onclick="makeQuery('/network/pick_mols/')" class="btn btn-primary">
          {% bootstrap_icon "star" %} Pick Mols
        </button>
            <button onclick="makeQuery('/network/query_db/')" class="btn btn-primary">
          {% bootstrap_icon "star" %} Query Db
        </button>
        {% endbuttons %}
    <div id="query_mol">

    </div>
    </div>
    <div class="col-xs-6 col-md-3" style="max-width: 100%; max-height: 100%" id="output">

    </div>
</div>