{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>
{% bootstrap_javascript %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<script>
    function myFunction(url) {
        var smiles= document.getElementById("smiles").value;
        var num_picks = document.getElementById("num_picks").value;
        $.get(, {smiles: smiles, num_picks: num_picks},
                function(data){
                   document.getElementById("output").innerHTML=data;
                });
    }
    
</script>



<div class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-6 col-md-3">
        <label for="smiles">Smiles:</label>
        <input type="text" class="form-control" id="smiles">
        <label for="num_picks">Number of picks:</label>
        <input type="text" class="form-control" id="num_picks">
        {% buttons %}
        <button onclick="myFunction('/network/full_graph/')" class="btn btn-primary">
          {% bootstrap_icon "eye-open" %} Full Graph
        </button>
            <button onclick="myFunction('/network/pick_mols/')" class="btn btn-primary">
          {% bootstrap_icon "star" %} Pick Mols
        </button>
        {% endbuttons %}
    </div>
    <div class="col-xs-6 col-md-3" id="output">
        
    </div>
</div>