{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<script>
    function myFunction() {
        var smiles= document.getElementById("smiles").value;
        var num_picks = document.getElementById("num_picks").value;
        $.get('/network/query/', {smiles: smiles, num_picks: num_picks},
                function(data){
           alert(data);
});
    }
    
</script>


<label for="smiles">Smiles:</label>
<input type="text" class="form-control" id="smiles">
<label for="num_picks">Number of picks:</label>
<input type="text" class="form-control" id="num_picks">
{% buttons %}
<button onclick="myFunction()" class="btn btn-primary">
  {% bootstrap_icon "eye-open" %} Submit
</button>
{% endbuttons %}