# Requirements specifically used to build/test the backend.
# These are not rquirements needed by the backend in order for it to run.
pylint == 3.0.2
pylint-django == 2.5.3
pre-commit == 3.1.1

# Poetry (required to build - see the Dockerfile)
poetry == 1.7.1

# Matching main requirements...
Django==3.2.20

# Others
httpie == 3.2.1
