---

# You typically create .env file to populate the
# sensitive variables for the stack deployment.
# Then bring the containers up with: -
#   docker-compose up -d
# Then enter the stack container with: -
#   docker-compose exec stack bash

version: '3'

services:

  # The database
  database:
    image: postgres:12.2
    container_name: database
    volumes:
    - ../data/postgresql/data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: fragalysis
      POSTGRES_USER: fragalysis
      POSTGRES_DB: frag
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
    - "5432:5432"

  # The graph
  graph:
    image: neo4j:4.4.2
    container_name: graph
    ports:
    # Comment these two out in production
    - "7474:7474"
    - "7687:7687"
    ulimits:
      nofile:
        soft: 40000
        hard: 40000
    volumes:
    - ../data/neo4j/data:/data
    - ../data/neo4j/logs:/logs
    environment:
    - NEO4J_AUTH=none
    - NEO4J_dbms_memory_pagecache_size=4G

  # The stack (backend)
  stack:
    container_name: stack
    build:
      context: .
      dockerfile: Dockerfile
    command: /bin/bash /code/launch-stack.sh
    volumes:
    - ../data/logs:/code/logs/
    - ../data/media:/code/media/
    - ../fragalysis-frontend:/code/frontend/
    - .:/code/
    environment:
      POSTGRESQL_DATABASE: frag
      POSTGRESQL_USER: fragalysis
      POSTGRESQL_PASSWORD: fragalysis
      POSTGRESQL_HOST: database
      POSTGRESQL_PORT: 5432
      # Logging level
      LOGGING_FRAMEWORK_ROOT_LEVEL: ${LOGGING_FRAMEWORK_ROOT_LEVEL:-INFO}
      # Celery tasks run synchronously?
      CELERY_TASK_ALWAYS_EAGER: 'True'
      # Default Debug to true for local development
      OIDC_RP_CLIENT_SECRET: 'c6245428-04c7-466f-9c4f-58c340e981c2'
      SQUONK2_VERIFY_CERTIFICATES: 'No'
      SQUONK2_UNIT_BILLING_DAY: 3
      SQUONK2_PRODUCT_FLAVOUR: BRONZE
      SQUONK2_SLUG: fs-local
      # The following are normally populated via a local '.env' file
      # that is not part of the repo, it is a file you create
      # and is used by docker-compose if it finds it.
      OIDC_KEYCLOAK_REALM: ${OIDC_KEYCLOAK_REALM}
      OIDC_AS_CLIENT_ID: ${OIDC_AS_CLIENT_ID}
      OIDC_DM_CLIENT_ID: ${OIDC_DM_CLIENT_ID}
      SQUONK2_ORG_OWNER: ${SQUONK2_ORG_OWNER}
      SQUONK2_ORG_OWNER_PASSWORD: ${SQUONK2_ORG_OWNER_PASSWORD}
      SQUONK2_ORG_UUID: ${SQUONK2_ORG_UUID}
      SQUONK2_UI_URL: ${SQUONK2_UI_URL}
      SQUONK2_DMAPI_URL: ${SQUONK2_DMAPI_URL}
      SQUONK2_ASAPI_URL: ${SQUONK2_ASAPI_URL}
      DUMMY_TAS: ${DUMMY_TAS}
      DUMMY_USER: ${DUMMY_USER}
      DUMMY_SESSION_TITLE: ${DUMMY_SESSION_TITLE}
    ports:
    - "8080:80"
    depends_on:
    - database
    - graph
