{% load static %}
<script type="text/javascript" src='{% static 'nprogress/nprogress.js' %}'></script>
<script type="text/javascript" src='{% static 'ngl/dist/ngl.js' %}'></script>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<link rel='stylesheet' href='{% static 'nprogress/nprogress.css' %}'/>

<script src="{% bootstrap_jquery_url %}" type="text/javascript"></script>
<script src='{% static 'dist/clipboard.min.js' %}'></script>
{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script>

new Clipboard('.btn');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    function getJsonView() {
        // Get component (path) -> representation (parameters)
        var out_data = new Array()
        stage.eachComponent(function (component) {
            var component_data = {"file_path": component.structure.path,
            "repr": new Array(),
            };
            component.eachRepresentation(function (repr) {
                var my_params = {"data": repr.getParameters()};
                my_params["name"] = repr.name;
               component_data["repr"].push(my_params);
            })
            out_data.push(component_data)
        });
        return JSON.stringify({"components": out_data,
            "orientation": stage.viewerControls.getOrientation()})
    }

    function setJsonView(input_json){
        var tot_obj = JSON.parse(input_json);
        var obj = tot_obj["components"];
        var ori = tot_obj["orientation"];
        // Loop through dict
        for (index = 0; index < obj.length; ++index)
        {
        // Generate the ey value pairs
            var propt = obj[index];
            var ext = "";
            if (propt["file_path"].includes("mol_from_pk")){
                ext = "sdf";
            }
            else{
                ext= "pdb";
            }
            stage.loadFile(propt["file_path"],{ ext: ext})
                    .then( function( comp ){
                        for (j=0; j<propt["repr"].length; ++j) {
                            comp.addRepresentation(propt["repr"][j]["name"], propt["repr"][j]["data"]);
                        }
                    } );
        }
        // Set the orientation
        var curr_orient = stage.viewerControls.getOrientation();
        for (i=0; i< curr_orient["elements"].length; i++){
             curr_orient["elements"][i] =ori["elements"][i];
        }
        stage.viewerControls.orient(curr_orient);
    }

    function post_view(title){
        NProgress.start();
        var scene  = getJsonView();
        $.ajax({
          type: "POST",
          url: "/viewer/post_view/",
          data: {"title": title,
          "scene": scene},
          success: function(response){
              $("#clip_target").value = response;
              NProgress.done();
          }
        }).fail(function() { alert( "error" ); });
    }

    function get_view(uuid){
        $.ajax({
          type: "POST",
          url: "/viewer/get_view/",
          data: {"uuid": uuid},
          success: function(response){display_view(response)}
        }).fail(function() { alert( "error" ); });
    }

    function display_view(response){
        var res = JSON.parse(response);
        var title = res["title"];
        setJsonView(res["scene"]);
    }

    function fillDiv(query_url,input_data,div_id,nprogress)
       {
           if (nprogress==true){
               NProgress.start();
           }
           $.get(query_url, input_data,
                   function (data) {
                       document.getElementById(div_id).innerHTML = data;
                       if (nprogress==true){
                           NProgress.done();
                       }
                   });

       }

    function fill_imgs() {
        var mol_pk_array = [
            {% for mol in mols %}
                {{ mol.pk }},
            {% endfor %}
        ]
        for (j = 0; j < mol_pk_array.length; ++j) {
            fillDiv("/viewer/img_from_pk", {"pk": mol_pk_array[j]}, "molecule_"+mol_pk_array[j].toString(), false)
        }
    }

    function load_mol(mol_pk) {
        stage.loadFile("/viewer/mol_from_pk/"+mol_pk.toString(),  {ext: "sdf" }).then(function (o) {
            o.addRepresentation("ball+stick", { })
            o.autoView()
})
    }

    function load_prot(prot_pk) {
        stage.loadFile("/viewer/prot_from_pk/" + prot_pk.toString(), {ext: "pdb"}).then(function (o) {
            o.addRepresentation("cartoon", {})
            o.autoView()
        })
    }

    $('document').ready( function() {
        fill_imgs();
        // Create NGL Stage object
        stage = new NGL.Stage("viewport");
        // Handle window resizing
        window.addEventListener("resize", function (event) {
            stage.handleResize();
        }, false);
    })

</script>
{% bootstrap_javascript %}


<div class="container-fluid">

<div class="row">
        <div class="col-xs-6 col-md-4" style="height: 600px; overflow: scroll">
            {% for mol in mols %}
                <div class="col-xs-6" >
                     <div id="molecule_{{ mol.pk }}" onclick="load_mol({{ mol.pk }})"
                          ondblclick="load_prot({{ mol.prot_id_id }})">
                         { mol.smiles }}
                     </div>
                </div>
            {% endfor %}
        </div>
    <div class="col-xs-6 col-md-8">
        <div id="viewport" style="height: 500px;"></div>
        <button type="button" class="btn btn-info" onclick="post_view('test')">Save View</button>
        <div id="result">
            <!-- Target -->
            <input id="clip_target" value="">
            <!-- Trigger -->
            <button class="btn" data-clipboard-target="#clip_target">
                <img src="assets/clippy.svg" alt="Copy to clipboard">
            </button>
        </div>
    </div>
</div>

</div>