{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
 <head>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <meta charset="UTF-8">
 <title>XChem @ Diamond</title>
 </head>
 <body>
 {% csrf_token %}
 <div id="app" />



 <script type="text/javascript">

 {% if user.is_authenticated %}
     var DJANGO_CONTEXT ={
     username: '{{user.username}}',
     authenticated: true
     }
 {% else %}
     var DJANGO_CONTEXT = {
         username: 'NOT_LOGGED_IN',
         authenticated: false
     }
 {% endif %}

</script>

 {% render_bundle 'main' %}
 </body>
</html>