{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8">
 <title>Example</title>
     <script type="text/javascript" src='{% static 'nprogress/nprogress.js' %}'></script>
     <script type="text/javascript" src='{% static 'ngl/dist/ngl.js' %}'></script>
     {# Load the tag library #}
     {% load bootstrap3 %}
     {% bootstrap_css %}
 </head>
 <body>

 <div class="row">
     <div class="col-lg-3" id="targets"></div>
</div>
 {% render_bundle 'main' %}
 </body>
</html>