{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css" crossorigin="anonymous">
 <meta charset="UTF-8">
 <title>XChem @ Diamond</title>
 </head>
 <body>
 {% csrf_token %}
 <div id="app"></div>



 <script type="text/javascript">

 {% if user.is_authenticated %}
     var DJANGO_CONTEXT ={
         username: '{{user.username}}',
         email: '{{ user.email|default:"noemail" }}',
         pk: {{user.pk|default:-1}},
         authenticated: true
     };
 {% else %}
     var DJANGO_CONTEXT = {
         username: 'NOT_LOGGED_IN',
         email: "noemail",
         pk: undefined,
         authenticated: false
     };
 {% endif %}

</script>

 {% render_bundle 'main' %}
 </body>
</html>
