{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Computed set update</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
{% block content %}
    <body>
      <section class="hero is-primary has-background-grey">
        <div class="hero-body">
{#          <div class="container">#}
            <h1 class="title is-size-1 has-text-centered">Computed Set Update</h1>
            <p class="subtitle has-text-centered" id="progress-title"></p>
        </div>
        </section>
      <section class="hero is-light has-background-white">
        <div class="hero-body">
            <div class="columns is-centered">
              <div class="column is-8" id="content">
                  <p>
                      Here, you can update existing computed sets by submitting a new sdf file of molecules to add, and additional pdb files in a zip file. No need to use the blank mol this time!
                  </p>
                  <br>
                  <br>
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.as_ul }}
                      <label for="{{ sets.id_for_label }}" class="col-sm-2 control-label">Update existing set:</label>
                      <div class="col-sm-10">
                        <select name="update_set" class="form-control">
                          <option value="None" selected>None</option>
                          {% for set in sets %}
                          <option value="{{ set.unique_name }}">{{ set.unique_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <button type="submit">Submit</button>
                </form>
                  {% autoescape off %}
                      {% if download_url %}
                        {{ download_url }}
                      {% endif %}
                      {% if table %}
                        {{ table }}
                      {% endif %}
                  {% endautoescape %}
              </div>
            </div>
          </div>
      </section>
        <p class="has-text-centered" id="links"></p>
    </body>

      {% if update_task_id %}
          <script>
          var content = document.getElementById('content');
          content.innerHTML = "";
          var taskUrl = "{% url 'update_task' update_task_id=update_task_id %}";
          var dots = 1;
          var progressTitle = document.getElementById('progress-title');
          updateProgressTitle();
          var timer = setInterval(function() {
            updateProgressTitle();
            axios.get(taskUrl)
              .then(function(response) {
                  var taskStatus = response.data.update_task_status;
                  if (taskStatus === 'SUCCESS' || taskStatus === 'FAILURE') {
                         clearTimer('');

                          var result = response.data.result;
                          var content = document.getElementById('links');
                          content.innerHTML = result

                      }

              })
          }, 800);

          function updateProgressTitle() {
            dots++;
            if (dots > 3) {
              dots = 1;
            }
            progressTitle.innerHTML = 'processing uploaded files';
            for (var i = 0; i < dots; i++) {
              progressTitle.innerHTML += '.';
            }
          }
          function clearTimer(message) {
            clearInterval(timer);
            progressTitle.innerHTML = message;
          }
         </script>
      {% endif %}

{% endblock %}