{% load static %}

{% block content %}
    <h1>Compound set upload</h1>
    <h2>Instructions</h2>
    <p>Here, you can upload compound sets for follow up compounds (computed 3D coordinates)</p>
    <p>The current instructions are here: </p><a href="https://discuss.postera.ai/t/providing-computed-poses-for-others-to-look-at/1155">postera forum</a>
    <p>The current specification version is <b>ver_1.2</b></p>
    <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit">Submit</button>
  </form>
   {% autoescape off %}
       {{ download_url }}
       {{ table }}
   {% endautoescape %}

    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">
        Waiting for progress to start...
    </div>

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
            // on page load
            var progressUrl = "{% url 'celery_progress:task_status' 'task-id-stub' %}";
            // in callback function - assumes api response returns the task id
            var taskUrl = progressUrl.replace('task-id-stub', response.text);
            CeleryProgressBar.initProgressBar(progressUrl);
        });
    </script>

    <div id="celery-result"></div>

{% endblock %}